<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>¡Bienvenido a la aplicación!</strong>
    <p>Explora la aplicación y descubre todas sus funcionalidades.</p>
    <ion-button routerLink="/register-page">Ir a Registro</ion-button>
  </div>
</ion-content>